@import 'vars/colours';
@import 'vars/fonts';

.main {
    max-width: 768px;
    margin: 0 auto;
    
    img {
        max-width: 100%;
        height: auto;
        margin-top: 16px;
    }
}

.btn {
    max-width: 90%;
    margin: 0px auto;
    background-color: $cs-green1;
    
    p {
        font-size: 24pt;
        color: $cs-dark1;
        text-align: center;
        padding: 8px;
    }
}

body {
    background-color: $cs-dark1;
}