@import 'vars/colours';
@import 'vars/fonts';

body {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: $cs-dark1;
}

.heading {
    //Contains Title of page and "Back" button
    width: 100%;
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 32px;
    h1 {
        font-size: 32pt;
        color: $cs-green1;
        margin: 0px auto;
        text-align: center;
        font-weight: normal;
    }
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    margin: 0px auto 0px auto;
    
    text-align: center;
    display: block;
}

.btn, .objective {
    max-width: 90%;
    margin: 0px auto;
    background-color: $cs-green1;
    cursor: pointer;
    
    p {
        font-size: 20pt;
        color: $cs-dark1;
        text-align: center;
        padding: 8px;
    }
}

