body { font-family: "Lucida Console", Courier, monospace; background-color: #222; }

.heading { max-width: 90%; margin: 0px auto; cursor: pointer; margin-top: 32px; margin-bottom: 32px; background: url(assets/back.png) left center no-repeat; background-size: 25px 40px; }
.heading h1 { font-size: 40pt; color: #70b62c; margin-top: 0px; margin-left: 30px; text-align: right; font-weight: bold; font-style: italic; padding: 0px; }

h2 { font-size: 32pt; color: #70b62c; margin-top: 0px; text-align: center; font-weight: bold; font-style: italic; padding: 0px; }

.logo { max-width: 90%; max-height: auto; }

img { max-width: 100%; height: auto; margin-top: 16px; margin: 0px auto 0px auto; text-align: center; display: block; }

.deals { background-color: #3c3c3c; color: #429f35; font-style: italic; text-decoration: underline; padding-top: 24px; padding-bottom: 24px; }
.deals h1 { font-size: 24pt; text-align: center; font-weight: normal; }

.deallist { max-width: 90%; margin: 0px auto; }
.deallist ul { color: #429f35; font-size: 20pt; }
.deallist ul li { padding-bottom: 16px; }

.btn { background-color: #429f35; color: #222; }

.objective { background-color: #2f2f2f; color: #429f35; }
.objective span { float: right; }

.marked { background-color: #429f35; color: #222; }

.clickable { max-width: 90%; margin: 0px auto; cursor: pointer; }
.clickable p { font-size: 20pt; text-align: center; padding: 8px; }
