// greens
$cs-green1: #429f35;
$cs-green2: #70b62c;
$cs-green3: #93c11f;
$cs-green4: #b6cd01;

// greys
$cs-dark1: #222;
$cs-dark2: lighten($cs-dark1, 5%);
$cs-dark3: lighten($cs-dark1, 10%);
$cs-dark4: lighten($cs-dark1, 15%);
